@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Libre+Baskerville:wght@400;700&family=Libre+Franklin:wght@300;400;500&family=Liu+Jian+Mao+Cao&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* General styles for all pages */
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Lato", "Avenir", sans-serif;
}

header {
  z-index: 1;
  position: relative;
}

#navMenu a {
  transition: color 0.3s ease;
}

#navMenu a:hover {
  color: #830000;
}

/* Start of Hamburger Menu */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  padding-left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #fff;

  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}


#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #000000f7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 1.5rem 0;
  font-size: 3rem;
}

#menuToggle input:checked~ul {
  transform: none;
}
/* End of Hamburger Menu */

/* HOME PAGE STYLES */

/* Welcome section */
#welcome-background {
  background-image: url("public/images/Rusticweatheredwoodenbackground2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

#welcome-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

#body-home h1 {
  display: none;
}

#body-home h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#welcome {
  margin-top: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
  margin-bottom: -7%;
}

#welcome h2 {
  font-size: 3rem;
  padding: 1em 0;
  line-height: 1.2;
  position: relative;
}

#welcome p {
  font-family: 'Liu Jian Mao Cao', 'Lato', serif;
  color: #fff;
  font-size: 2rem;
  padding: 1em;
  z-index: 2;
}

.image-container img {
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.image-container {
  display: flex;
  justify-content: center;
}

.menu-button {
  display: inline-block;
  padding: 1rem;
  background-color: #830000;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  z-index: 1000;
  margin-top: 2rem;
}

.menu-button:hover {
  background-color: #fff;
  color: #830000;
}

/* about section */

#about h2 {
  display: none;
}

#about {
  background-image: url("public/images/BeerTap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 2em;
  position: relative;
  margin-bottom: -7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 0 -50px;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.68);
  /* Adjust the opacity (last value) to control the darkness */
  z-index: 1;
}

#about-content {
  position: relative;
  z-index: 2;
  padding: 10%;
  color: #fff;
}

#about-content .special-text {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.3rem;
}

#about p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.2rem;
}

/* daily specials section */

#daily-specials {
  background-image: url("public/images/Rusticweatheredwoodenbackground2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 100%;
  color: #fff;
  padding: 10%;
  margin-bottom: -7%;
  position: relative;
  z-index: -1;
}

/* Add shadowed background for the text in specials-content */
#daily-specials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

#daily-specials h2 {
  padding-top: 2rem;
  font-family: 'Liu Jian Mao Cao', 'Lato', serif;
  font-weight: 300;
  font-size: 2.5rem;
  padding-bottom: 1em;
  position: relative;
  z-index: 2;
}

/* creates an underline */
#daily-specials h2::after {
  content: "";
  position: absolute;
  bottom: .9em;
  left: 50%;
  width: 5em;
  display: inline-block;
  border-bottom: 2px solid #830000;
  transform: translateX(-50%);
  z-index: -1;
}

#specials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content vertically and horizontally */
  text-align: center;
  /* Center the content horizontally within each flex item */
  padding-bottom: 2em;
}

#specials-content h3 {
  font-size: 1.2rem;
  line-height: 120%;
  padding-bottom: .5em;
  z-index: 1;
}

#specials-content p {
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 2em;
  z-index: 1;
}

#img-gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  padding: 0 2em;
  z-index: 1;
}

#img-gallery img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.95);
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* Banner */
#banner {
  background-color: #000;
  padding: 8rem 1rem;
}

#banner h2 a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

#banner h2 a:hover {
  color: #830000
}


/* Lunch Specials */
#lunch-specials {
  background-image: url("public/images/Rusticweatheredwoodenbackground2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 100%;
  color: #fff;
  padding: 10%;
  margin-bottom: -7%;
  position: relative;
}

/* Add shadowed background for the text in specials-content */
#lunch-specials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

#lunch-specials h2 {
  padding-top: 2rem;
  font-family: 'Liu Jian Mao Cao', 'Lato', serif;
  font-weight: 300;
  font-size: 2.5rem;
  padding-bottom: 1em;
  position: relative;
  z-index: 2; 
}

/* creates an underline */
#lunch-specials h2::after {
  content: "";
  position: absolute;
  bottom:.9em;
  left: 50%;
  width: 5em;
  display: inline-block;
  border-bottom: 2px solid #830000;
  transform: translateX(-50%);
  z-index: -1;
}

#lunch-specials p {
  font-weight: 500;
  line-height: 130%;
  padding: 0 1em 2em 1em;
  position: relative;
  display: flex;
  justify-content: center;
}

#img-flex {
  display: flex;
  position: relative;
  justify-content: center; 
  align-items: center; 
  gap: 20px;
  padding-bottom: 4rem;
}

#img-flex a {
  flex: 1;
  max-width: 300px; 
}

#img-flex img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px; 
  transition: opacity 0.3s ease;
}

#img-flex a:hover img {
  opacity: 0.8; /* Adjust the opacity value as needed */
}

/* footer styles */
footer {
  position: relative;
  background-color: #000;
  height: 30vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  /* Center the items horizontally */
  align-items: center;
  /* Center the items vertically */
}

/* Add a pseudo-element to create the shadow overlay */
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity (last value) to control the darkness */
}

.facebook-icon {
  position: absolute;
  top: 30%;
  /* Adjust this value to vertically center the icon */
  left: 50%;
  /* Adjust this value to horizontally center the icon */
  transform: translate(-50%, -50%);
  /* Center the icon precisely */
  z-index: 1;
  width: 30px;
  height: 30px;
}

.contact-info {
  text-align: center;
  /* Center the text inside the container */
  color: #fff;
  white-space: nowrap;
  /* Prevent the address from wrapping to the next line */
  z-index: 2;
  position: relative;
  top: 1.3em;
  line-height: 1.5;
}

.contact-info p {
  font-size: .6rem;
  font-family: "Libre Franklin", sans-serif;
}

.contact-info a {
  color: #ffffff;
  /* Set the default link color to white */
  text-decoration: none;
  /* Remove underlines from links */
}


/* CONTACT PAGE STYLES */
#body-contact {
  background-image: url("public/images/Rusticweatheredwoodenbackground2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

/* Add shadowed background for the text in specials-content */
#body-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

#body-contact h1 {
  display: none;
}

#contact-us {
  position:relative; 
  top: 8rem;
}

#contact-us > h2:first-of-type {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
  z-index: 0;
  position: relative;
  padding: 0 2rem;
  text-transform: uppercase;
}

#contact-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0 2rem;
}

#contact-flex a,
#contact-flex section {
  margin-bottom: 1.5rem; 
}

#contact-us a {
  color: #fff;
  text-decoration: none;
  z-index: 0;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  padding-right: 2rem;
}

#contact-us a:hover {
  color: #830000;
}

#contact-us a:first-child {
  text-decoration: underline;
}

.facebook-icon-2 {
  width: 2rem;
  height: 2rem;
  position: relative;
}

#hours h2 {
  margin-bottom: .3rem;
  font-weight: 500;
  font-size: 1.2rem;
}

#hours p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  z-index: 0;
}

#contact-us > p {
  padding: 1rem 2rem;
  font-weight: 400;
  text-align: left;
  font-size: larger;
  line-height: 1.5;
  z-index: 0;
}

#contact-large-flex > p:nth-child(2) {
  padding: 0 2rem 2rem 2rem;
  line-height: 1.3;
  font-size: larger;
}

#location {
  padding-bottom: 40%;
}

/* Set a specific aspect ratio for the map container */
#location .map-container {
  position: relative;
  width: 80%;
  padding-top: 56.25%;
  left: 10%;
}

/* Style the iframe to fill the map container */
#location .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* MENU PAGE STYLES */
#body-menu {
  background-color: #f5f5f5;
}

#body-menu h1 {
  display: none;
}

#body-menu h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin: 5rem 0 3rem 0;
}

#menu-sections ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-image: url("public/images/kingspecial.jpg");
  background-size: cover;
  width: 100%;
  height: 40vw;
}

#menu-sections li {
  font-family: "Libre Baskerville", serif;
  font-size: .8rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

#menu-sections li a {
  color: #fff;
  text-decoration: none;
}

#appetizer-section {
  margin-top: 10px;
}

.menu-item {
  min-width: 50%;
  /* Set a minimum width to ensure consistent widths */
  margin-bottom: 20px;
}

.menu-item h3 {
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.menu-item p {
  font-size: .75rem;
  font-family: "Libre Franklin", sans-serif;
  color: #000;
  line-height: 1.5;
}

.menu-item-price {
  margin-top: .2rem;
}

.section-note {
  font-size: .5rem;
  font-family: "Libre Franklin", sans-serif;
  color: #000;
}

.section-note:nth-of-type(2) {
  padding-bottom: 40px;
}

#appetizer-section p:nth-of-type(3) {
  font-weight: 500;
}

/* background */
#body-menu header {
  background-image: url("public/images/Rusticweatheredwoodenbackground2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100px;
}

/* body styles */
#main-menu {
  margin: 6vw 10vw;
}

/* Add this CSS to create the two-column layout for menu items */
.menu-item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
}

/* Add this CSS to center the section header (h2) above the columns */
#main-menu section {
  text-align: center;
}

.menu-item {
  text-align: left;
}

/* Add this CSS to create the two-column layout for menu items */
.menu-specials-sides-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#daily-specials-section,
.sides-section {
  text-align: center;
  /* Center the section header (h2) above the columns */
}

#daily-specials-section .menu-item,
.sides-section .menu-item {
  text-align: left;
}


.sides-section {
  display: flex;  
  flex-direction: column;
  align-items: center;
}


/* MEDIA QUERIES */
@media (max-width: 460px) {
  #navMenu {
    display: none;
  }

  #menu-sections ul {
    padding: 0;
  }

  #menu-sections li {
    padding: 0;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  
  #menu-sections ul {
    height: 150vw;
    background-position: -200px 0;
  }
}

@media (max-width: 345px) {
  #menu-sections li {
    font-size: 1rem;
    margin: 1.5rem 0;
  }
  }

@media (min-width: 460px) {
  #menuToggle {
    display: none;
  }

  #navMenu {
    display: flex;
    list-style: none;
    margin-left: 30px;
  }

  #navMenu li {
    margin-right: 20px;
    margin-top: 40px;
    margin-left: 20px;

  }

  #navMenu li:last-child {
    margin-right: 0;
    margin-left: auto;
    padding-right: 8%;
  }

  #navMenu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  footer {
    height: 20vw;
  }
}

@media (min-width: 540px) {
  #menu-sections li {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    margin: 0;
  }

  #menu-sections ul {
    background-position: -130px 0;
  }
  }


@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  .menu-specials-sides-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20%;
  }

  .menu-item {
    width: 100%;
  }

  #main-menu {
    margin: 0 20%;
  }

  .flex-container {
    display: flex;
    padding-bottom: 10%;
    justify-content: center;
  }

  .image-container img {
    max-width: 700px;
  }

  footer {
    height: 14vw;
  }

  #menu-sections ul {
    background-position: -180px 0;
  }
}

  @media (min-width: 900px) {
    #menu-sections li {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
    }

    #menu-sections ul {
      height: 100%;
      background-position: -100px 0;
    }
  }

  @media (min-width: 1200px) {
  #hours {
    min-width: 40%;
  }

  #contact-large-flex {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 4rem;
  }

  #contact-large-flex p {
    padding: 2rem 2rem 2rem 0;
    font-size: 1.3rem;
    line-height: 1.2;
  }

  #contact-large-flex #hours p {
    padding: 0;
    line-height: 1.5;
  }

  #contact-us > h2:first-of-type {
    padding: 0 4rem;
    margin-bottom: 2rem;
  }

  #contact-large-flex > p:nth-child(2) {
    padding: 0 3rem 1rem 0;
  }

  #contact-flex {
    width: 40%;
    padding: 0;
  }

  #location .map-container {
   width: 100%;
   left: 0%;
  }

  #location .map-container iframe {
    height: 60%;
  }

  #location {
    padding-bottom: 0;
  }

  #menu-sections li {
    font-size: 1.9rem;
    padding-bottom: 1.9rem;
  }

}